src/main/resources/META-INF/mule-activiti-embedded.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/activiti-embedded"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/activiti-embedded"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
            
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/current/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>Activiti BPMN</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Activiti</schemadoc:short-name>
            <schemadoc:page-title>Activiti Module</schemadoc:page-title>
            <schemadoc:transport-features receiveEvents="true" dispatchEvents="false" responseEvents="true"
                                          requestEvents="false"
                                          transactions="false" streaming="false">
                <schemadoc:MEPs supported="request-response" default="request-response"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="activitiConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Activiti BPMN
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="activitiConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="repositoryService-ref" type="xsd:string" />
                <xsd:attribute name="runtimeService-ref" type="xsd:string" />
                <xsd:attribute name="taskService-ref" type="xsd:string" />
                <xsd:attribute name="historyService-ref" type="xsd:string" />
                <xsd:attribute name="jdbcConnector-ref" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            A reference to the JDBC connector used to connect to Activiti's Database.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="version" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The version of the Activiti server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="activiti-action" type="actionType" abstract="true" substitutionGroup="mule:abstract-message-processor"/>
    <xsd:complexType name="actionType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractMessageProcessorType">
                <xsd:attribute name="connector-ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-runtime-variable-of-process" type="getRuntimeVariableOfProcessType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="getRuntimeVariableOfProcessType">
        <xsd:complexContent>
            <xsd:extension base="getVariableOfProcessType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-historic-variable-of-process" type="getHistoricVariableOfProcessType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="getHistoricVariableOfProcessType">
        <xsd:complexContent>
            <xsd:extension base="getVariableOfProcessType">
                <xsd:attribute name="activitiInstanceIdExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="get-latest-historic-variable-of-process" type="getLatestHistoricVariableOfProcessType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="getLatestHistoricVariableOfProcessType">
        <xsd:complexContent>
            <xsd:extension base="getVariableOfProcessType">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="getVariableOfProcessType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="processInstanceIdExpression" type="xsd:string"/>
                <xsd:attribute name="variableExpression" type="xsd:string"/>
                <xsd:attribute name="query" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="list-process-definitions" type="listProcessDefinitionsType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="listProcessDefinitionsType">
        <xsd:complexContent>
            <xsd:extension base="actionType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="listTasksType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="start" type="mule:substitutableLong"/>
                <xsd:attribute name="size" type="mule:substitutableLong"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="list-assigned-tasks" type="listAssignedTasksType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="listAssignedTasksType">
        <xsd:complexContent>
            <xsd:extension base="listTasksType">
                <xsd:attribute name="userExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="list-candidate-tasks" type="listCandidateTasksType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="listCandidateTasksType">
        <xsd:complexContent>
            <xsd:extension base="listTasksType">
                <xsd:attribute name="userExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="list-candidate-group-tasks" type="listCandidateGroupTasksType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="listCandidateGroupTasksType">
        <xsd:complexContent>
            <xsd:extension base="listTasksType">
                <xsd:attribute name="candidateGroupExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="create-process" type="createProcessType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="createProcessType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="parametersExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="perform-task-operation" type="performTaskOperationType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="performTaskOperationType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="taskIdExpression" type="xsd:string"/>
                <xsd:attribute name="userExpression" type="xsd:string"/>
                <xsd:attribute name="operation" type="operationTypes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="operationTypes">
        <xsd:restriction base="xsd:NMTOKEN">
            <xsd:enumeration value="COMPLETE"/>
            <xsd:enumeration value="CLAIM"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="get-task" type="getTaskType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="getTaskType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="taskIdExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="set-variable" type="setVariableType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="setVariableType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="executionIdExpression" type="xsd:string"/>
                <xsd:attribute name="variableExpression" type="xsd:string"/>
                <xsd:attribute name="valueExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="signal" type="signalType" substitutionGroup="activiti-action"/>
    <xsd:complexType name="signalType">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:attribute name="executionIdExpression" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
